<template>
  <div class="board-list-wrapper m-12">
    <div
      class="col-xs-3"
      v-for="(groupItem, listGroupIndex) in listGroups"
      :key="groupItem.id"
    >
      <div class="board-list-items">
        <div class="board-list-header">
          <h3>{{ groupItem.listName }}</h3>
          <div class="board-list-actions">
            <button type="button"><span
                class="material-icons"
                @click="onOpenAddEditCard(listGroupIndex)"
              >add</span></button>
            <button type="button" @click="deleteGroupList(listGroupIndex)"><span class="material-icons">delete</span></button>
          </div>
        </div>
        <div class="card-list-wrapper">
          <draggable
            class="card-list-items list-group"
            tag="ul"
            :list="groupItem.listCards"
            v-bind="dragOptions"
            @change="updateLocalStorage()"
          >
            <transition-group
              type="transition"
              :name="!drag ? 'flip-list' : null"
            >
              <li
                class="card-item list-group-item"
                v-for="(element, cardIndex) in groupItem.listCards"
                :key="element.id"
              >
                <div class="card-header">
                  <div class="card-title">{{ element.cardTitle }}</div>
                  <div class="card-actions">
                    <button
                      type="button"
                      @click="onOpenAddEditCard(listGroupIndex, element)"
                    >
                      <span class="material-icons">create</span>
                    </button>
                    <button
                      type="button"
                      @click="deleteCard(listGroupIndex, cardIndex)"
                    >
                      <span class="material-icons">close</span>
                    </button>
                  </div>
                </div>
                <p class="card-description">{{ element.cardDescription }}</p>
              </li>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>

    <div class="col-xs-3 flex ai-center jc-center">
      <div class="add-group-wrapper">
        <input type="text" v-model="newGroupListName" placeholder="New Group Name*">
        <button type="button" class="add-group-btn" @click="addNewGrupList()">Add New Group List</button>
      </div>
    </div>

    <modal
      name="cardModal"
      :height="'auto'"
      v-if="selectedCard"
      @before-close="onCardModalClose()"
    >
      <div class="dialog-content">
        <input
          type="text"
          v-model="selectedCard.cardTitle"
          placeholder="Card Title*"
        >
        <textarea
          v-model="selectedCard.cardDescription"
          placeholder="Card Description"
          class="mv12"
          name=""
        ></textarea>
        <div class="card-comments-wrapper">
          <h4 class="mb12">Comments:</h4>
          <ul
            v-for="comment in selectedCard.cardComments"
            :key="comment.id"
          >
            <li class="mb12">{{ comment.text }}</li>
          </ul>
        </div>
        <hr class="mv30">
        <div class="mt24">
          <h4 class="mb12">Add a new comment:</h4>
          <textarea
            placeholder="New Comment"
            v-model="newCardComment"
            name="newCardComment"
          ></textarea>
          <div class="flex jc-end mv12">
            <button
              type="button"
              class="add-comment-btn"
              @click="addNewComment()"
            >Add comment</button>
          </div>
        </div>
      </div>
      <div class="vue-dialog-buttons">
        <button
          type="button"
          class="vue-dialog-button btn-red"
          @click="$modal.hide('cardModal')"
        >CANCEL</button>
        <button
          type="button"
          class="vue-dialog-button btn-green"
          @click="onCardModalSave()"
        >Save</button></div>
    </modal>
  </div>
</template>

<script>
  import draggable from 'vuedraggable';
  import './Board.scss';

  export default {
    name: 'board',
    components: {
      draggable
    },
    data() {
      return {
        listGroups: [],
        drag: false,
        selectedListGroupIndex: null,
        selectedCard: {
          id: null,
          cardTitle: '',
          cardDescription: '',
          cardComments: []
        },
        newCardComment: '',
        newGroupListName: '',
        routerParam: this.$route.params.id,
        localStorageData: null,
        indexOfBoardData: null
      };
    },
    mounted() {
      this.selectedCard = {
        id: null,
        cardTitle: '',
        cardDescription: '',
        cardComments: []
      };
      this.loadBoardLocalStorage();
    },
    methods: {
      onOpenAddEditCard(listGroupIndex, card) {
        this.$modal.show('cardModal');
        this.selectedListGroupIndex = listGroupIndex;
        if (card) {
          this.selectedCard = {...card};
        } else {
          this.selectedCard = {
            id: null,
            cardTitle: '',
            cardDescription: '',
            cardComments: []
          };
        }
      },
      onUpdateCardDetails() {
        const indexOfCardToEdit = this.listGroups[this.selectedListGroupIndex].listCards.findIndex(x => x.id === this.selectedCard.id);
        this.listGroups[this.selectedListGroupIndex].listCards[indexOfCardToEdit] = this.selectedCard;

        // *** Force draggable to update with new data
        const storeNewListGroup = this.listGroups[this.selectedListGroupIndex].listCards;
        this.listGroups[this.selectedListGroupIndex].listCards = null;
        this.listGroups[this.selectedListGroupIndex].listCards = storeNewListGroup;
        // Force draggable to update with new data ***
      },
      onCardModalSave() {
        if (!this.selectedCard.cardTitle) {
          return;
        }
        if (this.selectedCard.id) { // Update existing card
          this.onUpdateCardDetails();
        } else { // Create new card
          this.selectedCard.id = this.generateFakeUID();
          this.listGroups[this.selectedListGroupIndex].listCards.push(this.selectedCard);
        }
        if (this.newCardComment) {
          this.addNewComment();
        } 
        this.updateLocalStorage();
        this.$modal.hide('cardModal');
      },
      onCardModalClose() {
        this.selectedCard = {
          id: null,
          cardTitle: '',
          cardDescription: '',
          cardComments: []
        };
        this.newCardComment = '';
      },
      addNewComment() {
        this.selectedCard.cardComments.push({
          id: this.generateFakeUID(),
          text: this.newCardComment
        });
        if (this.selectedCard.id) {
          this.updateLocalStorage();
        }
        this.newCardComment = '';
      },
      deleteGroupList(listGroupIndex) {
        this.listGroups.splice(listGroupIndex, 1);
        this.updateLocalStorage();
      },
      deleteCard(listGroupIndex, cardIndex) {
        this.listGroups[listGroupIndex].listCards.splice(cardIndex, 1);
        this.updateLocalStorage();
      },
      addNewGrupList() {
        if (!this.newGroupListName) {
          return;
        }
        const newGroupListTemplate = {
          id: this.generateFakeUID(),
          listName: this.newGroupListName,
          listCards: []
        }
        this.listGroups.push(newGroupListTemplate);
        this.updateLocalStorage();
        this.newGroupListName = '';
      },
      generateFakeUID() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0,
            v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      },
      
      loadBoardLocalStorage() {
        this.localStorageData = JSON.parse(localStorage.getItem('boards') || "[]");
        this.indexOfBoardData = this.localStorageData.findIndex(x => x.id == this.routerParam);
        if (this.indexOfBoardData === -1) {
          this.$router.push('/');
          return;
        }
        this.listGroups = this.localStorageData[this.indexOfBoardData].listGroups;
      },
      updateLocalStorage() {
        localStorage.setItem('boards', JSON.stringify(this.localStorageData));
      },
    },  
    computed: {
      dragOptions() {
        return {
          animation: 0,
          group: "description",
          disabled: false,
          ghostClass: "ghost"
        };
      }
    }
  }
</script>
