@import './../../styles/helpers';

.board-list-wrapper {
  display: flex;
  height: 100%;

  >div {
    flex: 0 0 auto;
  }
}

.board-list-items {
  height: 100%;
}

.board-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 30px;

  h3 {
    color: $white;
  }

  .board-list-actions {
    button {
      color: $green;

      +button {
        margin-left: 12px;
        color: $red;
      }
    }
  }
}

.card-list-wrapper {
  background-color: rgba($white, .7);
  color: $black;
  padding: 12px 0 12px 12px;
  height: calc(100% - 42px);
}

.card-list-items {
  color: $black;
  height: 100%;
  padding-right: 12px;
  overflow-y: auto;

  >span {
    display: block;
    height: 100%;
  }
}

.card-item {
  background-color: $white;
  padding: 12px;
  color: $black;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.card-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  .card-title {
    font-weight: bold;
    font-size: 1.6rem;
  }

  .card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
  }

  button {
    color: $green;

    +button {
      margin-left: 12px;
      color: $red;
    }
  }
}


// animation
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}

.add-comment-btn,
.add-group-btn {
  background-color: $green;
  padding: 6px 12px;
  color: $white;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: darken($green, 20%);
  }
}

.add-group-wrapper {
  padding: 24px;
  width: 300px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    height: 50px;
  }

  button {
    width: 100%;
    margin-top: 24px;
    font-size: 2.4rem;
  }
}
