// *** screens sizes for responsice design / To use with respond(size) mixins.
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;
// screens sizes for responsice design ***

$white: #fff;
$black: #000;

$green: #4CAF50; // for positive / add actions
$red: #F44336; // for negative / delete actions
$orange: #ff7043;

$gray: #f5f5f5;
$darken-gray: #e0e0e0;

$bg-color: #303030;
