@import 'helpers';
@import 'layout';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

table {
  width: 100%;
}

input,
textarea {
  border-radius: 0;
  border: 1px solid $darken-gray;
  padding: 0 12px;
  line-height: 24px;
  width: 100%;
  outline: none;

  &:focus {
    border: 1px solid $darken-gray; 
  }
}

input {
  height: 32px;
}

textarea {
  padding: 12px;
  height: 120px;
}

b,
strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

header {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

main {
  height: calc(100% - 48px);
  background-color: $bg-color;
  overflow: auto;
  padding: 12px;
}

.vue-dialog-button {
  width: 50%;
  transition: background-color .3s ease-in-out;
  
  &.btn-red {
    color: $white;
    background-color: $red;
    &:hover {
      background-color: darken($red, 20);
    }
  }
  
  &.btn-green {
    color: $white;
    background-color: $green;

    &:hover {
      background-color: darken($green, 20);
    }
  }

  &[class^="btn-"] {
    color: $white;
  }
}

.dialog-content {
  padding: 24px;
}

.full-width {
  width: 100%;
}
