<template>
  <div class="board-item">
    <h3>{{board.boardName}}</h3>
    <p class="mt12">{{board.boardDescription}}</p>
  </div>
</template>

<script>
export default {
  name: 'BoardItem',
  props: {
    board: Object
  }
}

import './BoardItem.scss';
</script>
