@import './../../styles/helpers';

.board-item {
  color: $black;
  height: 152px;
  width: 320px;
  background-color: $white;
  padding: 12px;

  h3 {
    text-transform: uppercase;
  } 

  p {
    font-size: 1.6rem;
  }
}
