@import './../../styles/helpers';

.boards-list  {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-board-wrapper {
  background-color: rgba($white, .7);
  padding: 12px;
  width: 320px;
  height: 152px;

  input {
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  button {
    background-color: $green;
    color: $white;
    transition: background-color .3s ease-in-out;
    padding: 12px;
    width: 100%;

    &:hover {
      background-color: darken($green, 20);
    }
  }
}
