<template>
  <div class="boards-list">
    <div class="p12">
      <div class="add-board-wrapper">
        <input type="text" class="mb12" autocomplete="off" placeholder="New Board Name*" v-model="newBoardName" name="boardName">
        <input type="text" class="mb12" autocomplete="off" placeholder="New Board Description" v-model="newBoardDescription" name="boardDescription">
        <div class="flex jc-center ai-center">
          <button type="button" @click="addNewBoard()">Add new board</button>
        </div>
      </div>
    </div>
    <router-link :to="'/board/' + board.id" class="p12" v-for="(board, index) in boards" :key="index">
      <BoardItem :board="board" />
    </router-link>
  </div>
</template>

<script>
// @ is an alias to /src
import BoardItem from '@/components/BoardItem/BoardItem.vue'
import './Home.scss';
export default {
  name: 'home',
  components: {
    BoardItem
  },
  data() {
    return {
      boards: [],
      newBoardName: '',
      newBoardDescription: ''
    }
  },
  mounted() {
    this.loadLocalStorage();
  },
  methods: {
    loadLocalStorage() {
      if (localStorage.boards) {
        this.boards = JSON.parse(localStorage.getItem('boards') || "[]");
      } else {
        var boards = [];
        localStorage.setItem('boards', JSON.stringify(boards));
      }
    },
    updateLocalStorage() {
      localStorage.setItem('boards', JSON.stringify(this.boards));
    },
    addNewBoard() {
      if (!this.newBoardName) {
        return;
      }
      var newBoard = {
        id: this.generateFakeUID(),
        boardName: this.newBoardName,
        boardDescription: this.newBoardDescription,
        listGroups: []
      }
      this.boards.unshift(newBoard);
      this.updateLocalStorage();
      this.newBoardName = '';
      this.newBoardDescription = '';
    },
    generateFakeUID() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0,
          v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
  }
}
</script>
